results/**
resources/**
logs/**
benchmarks/**
.snakemake
.snakemake/**
.test/benchmarks/*
.test/logs/*
.test/results/*
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
